<!DOCTYPE html>
<html lang="en">
<head>
        <title>Profile page</title>
        <style>
            h1{
                color: rgb(26, 5, 44);
            }
        </style>
</head>
<body>
    <%- include('common/header');%>
    <h1>Welcome,this is login page</h1>
    
</body>
</html>